.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.armory-item-icon {
  transition: 0s 10s;
  /* max-width: 100%;
  height: auto; */
  scroll-behavior: none;
}
.armory-item-icon-dimmed {
  box-shadow: 1px 10px 20px darkslateblue;
  transition: 0s 10s;
  background-color: dimgray;
  color: dimgray;
  opacity: 90%;
}
/* .search-container {
  display: flex;

} */

.armory-searchbar {
  width: 33%;
  /* margin: 0 33% 0 33%; */
  box-shadow: 1px 10px 20px goldenrod;
}

.icon {
  height: 100%;
  width: 100%;
}

.item-container {
  box-shadow: 1px 10px 20px darkslateblue;
  width: 96px;
  height: 96px;
  touch-action: auto;
}

.item-btn {
  border-color: darkslateblue;
  box-shadow: none;
  border: none;
  cursor: grab;
  opacity: 100%;
}
.new-item-btn {
  border-color: darkslateblue;
  box-shadow: none;
  border: none;
  cursor: pointer;
  opacity: 100%;
}

.item-dimmed {
  border-color: none;
  box-shadow: none;
  border: none;
  cursor: grab;
  opacity: 100%;
  opacity: 50%;
}

/* .item-tooltip {
  display: none;
  transition: all 0s ease 1s;
  visibility: hidden;
}

.armory-item-icon:hover + .item-tooltip {
  display: inline-flex;
  transition-delay: 0s;
  visibility: visible;
} */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
