.loadout-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.container-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loadout-item {
  margin-bottom: 3px;
  width: 96px;
  height: 96px;
}
.loadout-btns-container {
  /* margin-bottom: 3px; */
  display: flex;
  flex-direction: column;
  width: 96px;
  height: 96px;
}
.loadout-btn {
  width: 100%;
  height: 50%;
}
.loadout-item-icon {
  box-shadow: 1px 10px 20px darkslateblue;
  height: 96px;
}
.loadout-item-name {
  font-size: small;
}
.loadout-name {
  width: 96px;
  text-align: center;
  font-weight: 600;
}
.armory-item-icon {
  box-shadow: 1px 10px 20px darkslateblue;
  transition: 0s 10s;
}

.item-container {
  cursor: pointer;
}

.new-loadout-container {
  display: flex;
  justify-content: center;
  border: 1px black solid;
}

.new-item-container {
  display: flex;
  width: 96px;
  height: 96px;
  border: solid 1px black;
  margin: 2rem;
}
