.loadout-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.container-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loadout-item {
  margin-bottom: 3px;
  width: 96px;
}
.loadout-item-icon {
  box-shadow: 1px 10px 20px darkslateblue;
}
.loadout-item-name {
  font-size: small;
}
.loadout-name {
  width: 96px;
  text-align: center;
  font-weight: 600;
}
